name: Waka Readme Stats

on:
  schedule:
    - cron: '30 18 * * *'   # 每天 UTC 18:30 (北京时间 02:30) 自动更新
  workflow_dispatch:          # 支持手动触发

jobs:
  update-readme:
    name: Update README with WakaTime Stats
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_OS: "True"
          SHOW_PROJECTS: "True"
          SHOW_TIMEZONE: "True"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE: "True"
          LANG_COUNT: "6"
          COMMIT_MESSAGE: "chore: update WakaTime coding stats"
